* {
    margin: 0;
    padding: 0;
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
}

:root {
    --a: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: white;
    background-color: black;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
    overflow: hidden;
}

.container {
    overflow: hidden;
}

.home ul li {
    display: flex;
    width: 14px;
    gap: 13px;
    list-style: none;
    padding-top: 14px;
    font-weight: 700;
}

.home {
    padding: 10px;
}

.library {
    min-height: 76vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 8px;
    position: absolute;
    bottom: 10px;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
    height: 83px;
}

.header>* {
    padding: 20px;
}

.trendingSongs {
    padding: 6px;
}

.cardContainer {
    display: flex;
    margin: 30px;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 50vh;
    overflow-y: auto;
}

.trendingSongs .card {
    width: 200px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.card {
    position: relative;
    transition: all 1.5s;
    background-color: grey;
}

.card:hover {
    background-color: black;
    cursor: pointer;
    --a: 1;
}

.play {
    position: absolute;
    top: 182px;
    right: 16px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(82, 82, 82);
    font-weight: bold;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 9px;
    width: 82px;
    cursor: pointer;
}

.loginbtn:hover {
    font-size: 17px;
    width: 79px;
}

.buttons>* {
    margin: 0 12px;
}

.playbar {
    position: fixed;
    bottom: 30px;
    background-color: #dad5d5;
    width: 70vw;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 16px;
    border-radius: 30px;
    filter: invert(1);
    min-height: 40px;
}

.songList ul {
    padding: 8px 5px;
}

.playnow {
    font-size: 10px;
    display: flex;
    gap: 5px;
}

.songList ul li {
    list-style: decimal;
    display: flex;
    padding: 13px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 15px 0;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    box-sizing: border-box;
    gap: 10px;
}

.songList .info div:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.songList .info {
    font-size: 10px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

}

.songList {
    height: 420px;
    margin: 12px 0;
    overflow-y: auto;
    background-color: rgb(20 19 19 / 87%);
    border-radius: 12px
}

.seekbar {
    height: 4px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons {
    cursor: pointer;
}

.abovebar {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 50%; */
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    color: black;
    padding: 0 12px;
    width: 125px;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    cursor: pointer;
}

.range input {
    cursor: pointer;
}

.close {
    display: none;
}


@media (max-width : 1200px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all .3s;
        transform: translateX(0);
        z-index: 1;
        width: 370px;
        padding: 0;
        position: fixed;
        width: 100vw;
    }

    .left .close {
        display: block;
        position: absolute;
        top: 22px;
        right: 22px;
    }


    .seekbar {
        width: calc(100vw - 70px)
    }

    .right {
        width: 100vw;
        position: fixed;
    }

    .songList ul {
        padding: 4px 13px;
    }

    .playbar {
        width: calc(100vw - 60px);
        bottom: 16px;
        left: 20px;
    }

    .hamburger {
        display: block;
    }

    .trendingSongs .card {
        width: 44vw;
    }

    .trendingSongs {
        height: 100vh;
    }

    .trendingSongs h1 {
        margin:17px 0;
    }

    .cardContainer {
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: hidden;
        max-width: 100%;
    }

    .card {
        max-width: 45%;
        box-sizing: border-box;
    }

    .right {
        margin: 0;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .library {
        height: 83vh;
    }
}

@media (max-width : 400px) {
    .cardContainer .card {
        width: 84vw;
    }
}